/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-color: lightgray;
    margin-top: 0;
    /*how do i make top margin disappear?*/
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

div.content {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/

nav {
    background-color: white;
    color: #838994;
    border-bottom: 1px solid #DDD;
    position: fixed;
    width: 100%;
    font-weight: 300;
}

nav img {
    height: 2.75rem;
    margin-top: .6rem;
    margin-bottom: .6rem;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-top: 1.7rem;
    margin-bottom: auto;
}

nav ul li {
    display: inline;
    margin-left: .5rem;
    margin-right: .5rem;
}

nav ul #currentpage {
    font-weight: 400;
    color: #4c5050;
}

nav ul li:hover {
    cursor: pointer;
    color: #333333;
}


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

section.introduction {
    background-image: url("../images/first-background.jpg");
    height: 45.938em;
    background-position: center bottom;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-weight: 300;
}

section.introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
    font-weight: 300;
}

section.introduction h3 {
    margin-top: 1.25;
    font-size: 1.563rem;
    font-weight: 300;
}

section.introduction .buttons {
    color: white;
    margin-top: 1.563rem;
    text-align: center;
}

section.introduction .buttons button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

section.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

section.cases .content {
    text-align: center;
    margin-top: 7.875rem;
}

section.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

section.cases .devices {
    list-style-type: none;
}

section.cases .devices img {
    width: 127px;
    height: 127px;
}

section.cases .devices li {
    width: 33.3%;
    float: left;
}

section.cases .devices li h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0 1.875rem;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/

.social {
    background-color: #fff;
    padding-bottom: 9.375rem;
    overflow: auto;
    text-align: center;
}

.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social h5 {
    font-weight: 400;
}

.social ul.icons {
    list-style: none;
}

.social ul.icons li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.social ul.icons li:hover {
    cursor: pointer;
}

.social ul.icons li.twitter {
    color: #55acee;
}

.social ul.icons li.facebook {
    color: #4c66a4;
}

.social ul.icons li.instagram {
    color: #3f729b;
}

.social .copy {
    font-size: .9rem;
    font-weight: 300;
    color: #838994;
}


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
