/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-color: lightgray;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

div {
    border: 1px solid Chocolate;
}


/* Header styles
(all the styles inside the < header > or < nav > tags)
*/


/* Content styles
(all the styles inside the < sections > or < aside > tags)
*/

nav {
    /* Should there be a height specified here? How will that impact content?*/
    margin: 1rem .8rem 1rem .8rem;
    /*The top and bottom margins don't seem to make a difference. */
    background-color: white;
    font-weight: lighter;
    color: dimgrey;
    position: fixed;
    width: 60%;
}

nav img {
    height: 4rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    width: auto;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-top: 1.7rem;
    margin-bottom: auto;
}

nav ul li {
    display: inline;
    margin-left: .2rem;
    margin-right: .2rem;
}

nav ul #currentpage {
    font-weight: 600;
}


/* Footer styles
(all the styles inside the < footer > tag)
*/


/* Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
*/
